{erl_opts, [
	{parse_transform, lager_transform}
   	]}. %% does not work
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.0"}}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.3.1"}}}
]}.
