{% extends "kadmin/index.html" %}
{% block title %}Manage administrators{% endblock %}
{% block p_main_container %}

                            <div id="pMainContainer" class="cbrPnlMainContainer">

                            <div id="ctl17_pSearchArea" onkeypress="javascript:return FireDefaultButton(event, 'ctl17_btnSearch')">



<table class="Info" id="Info" width="100%">
    <tbody><tr>
        <td>
            Manage administrators
        </td>
    </tr>
</tbody></table>
    <p>
        <span id="ctl17_lError" style="color:Red;"></span>
    </p>
    <p>
        <table width="100%" class="SearchTable" cellspacing="2" cellpadding="2">
            <tbody><tr class="SearchTableCell">
                <td style="width: 180px">
                    <form method="get" action="/users/create" class="_no_class" style="margin-bottom: 0em;">
                    <input type="submit" value="Add new admin" class="frmButton" style="height:20px;width:140px;">
                    </form>
                </td>
                <td style="width: 45px" align="right">
                    Name
                </td>
                <td style="width: 120px">
                    <input type="text" maxlength="500" name="ctl17$txtName" id="ctl17_txtName" class="frmText" style="width:131px;">
                </td>
                <td align="right" style="width: 57px">
                    Contact
                </td>
                <td style="width: 125px">
                    <input type="text" maxlength="500" name="ctl17$txtContactData" id="ctl17_txtContactData" class="frmText" style="width:137px;">
                </td>
                <td align="center" style="width: 100px">
                    <input type="submit" name="ctl17$btnSearch" value="Search" id="ctl17_btnSearch" class="frmButton">
                </td>
            </tr>
        </tbody></table>
    </p>
    <p>

<table class="EditTable" id="MainTable" cellspacing="0" cellpadding="6" width="100%">
    <tbody><tr>
        <td>
            <div id="ctl17_recAdmins_pExport">

                <table class="SearchTable" cellspacing="0" cellpadding="2" width="100%">
                    <tbody><tr class="SearchTableCell">
                        <td align="left">

<input type="hidden" id="path2File" value="">

                        </td>
                        <td align="right">
                            Rows
                            <select name="ctl17$recAdmins$ddlGridPageSizes" onchange="setTimeout('__doPostBack(\'ctl17$recAdmins$ddlGridPageSizes\',\'\')', 0)" id="ctl17_recAdmins_ddlGridPageSizes" class="frmText" style="width:75px;">
                <option selected="selected" value="10">10</option>

            </select>
                        </td>
                    </tr>
                </tbody></table>

        </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="ctl17_recAdmins_pGrid">

                <table class="Grid" cellpadding="0" cellspacing="0" rules="cols" align="center" border="1" id="ctl17_recAdmins_grdData" style="border-style:None;height:112px;width:100%;border-collapse:collapse;">
                    <tbody><tr class="HeaderRow">
                        <td>Name</td><td>Contact</td><td>State</td><td>&nbsp;</td>
                    </tr>

{% if users %}
{% for user in users %}

{% if forloop.counter|divisibleby:"2" %}

<tr class="GridRow">
  <td><a class="GridLink" href="/users/update/{{ user.login }}">{{ user.full_name }}</a></td><td align="left"><span>{{ user.contact_data }}</span></td><td><span style={% if user.state == "Active" %}"color:LimeGreen;"{% else %}"color:Red;"{% endif %}>{{ user.state }}</span></td><td><a href="/users/delete/{{ user.login }}" title="Delete" style="color:SaddleBrown;">Delete</a>
  </td>
</tr>

{% else %}

<tr class="GridAlternativeRow">
  <td><a class="GridLink" href="/users/update/{{ user.login }}">{{ user.full_name }}</a></td><td align="left"><span>{{ user.contact_data }}</span></td><td><span style={% if user.state == "Active" %}"color:LimeGreen;"{% else %}"color:Red;"{% endif %}>{{ user.state }}</span></td><td><a href="/users/delete/{{ user.login }}" title="Delete" style="color:SaddleBrown;">Delete</a>
  </td>
</tr>

{% endif %}

{% endfor %}
{% endif %}

                    <tr class="GridPaging">
                        <td colspan="6">
{% if page_numbers %}
{% for page in page_numbers %}

{% if page == active_page %}
<span>{{ page }}</span>&nbsp;
{% else %}
<a href={% url action="index" %}/{{ page }}/>{{ page }}</a>&nbsp;
<!-- <a href="/users/index/{{ page }}">{{ page }}</a>&nbsp; -->
{% endif %}

{% endfor %}
{% endif %}

                        </td>
                    </tr>
                </tbody></table>

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="ctl17_recAdmins_pTotals">

                <table class="cbrTableForm" cellpadding="3" cellspacing="1">
                    <colgroup>
                        <col width="25%">
                        <col width="75%">
                    </colgroup>

                            <tbody><tr>
                                <td class="field">
                                    Total rows : {{ total_rows }}
                                </td>
                            </tr>

                </tbody></table>

            </div>
        </td>
    </tr>
</tbody></table>


    </p>

        </div>

    </div>
                            <div id="pHelp" class="cbrPnlHelpContainer">


<p>
    <p></p><table class="Help" width="100%" cellpadding="3">
        <tbody>
            <tr>
                <td class="HelpCell">
                    <p align="justify">Help: This is a list of administrators. Administrators can be
                        created and modified here. You can assign privileges to different
                        administrators.<br>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</p>

    </div>
{% endblock %}
